.boost-pfs-body-no-scroll {
    overflow: initial !important;
    body {
        overflow: initial !important;
        position: initial !important;
    }
}

.template-collection,
.template-search {
    .product-facet__main {
        .product-list {
            @media screen and (max-width: 1199px) {
                padding: 0;
            }
            &__inner {
                display: flex;
                flex-flow: row wrap;
                margin: 0 -10px;
                gap: initial;
                grid-gap: inherit;
                @media screen and (max-width: 1199px) {
                    margin: 0 -5.5px;
                    width: calc(100% + 11px);
                }
                .product-item {
                    width: 25%;
                    padding: 0 10px;
                    margin-bottom: 40px;
                    @media screen and (max-width: 1199px) {
                        width: 50%;
                        margin-bottom: 30px !important;
                        padding: 0 5.5px;
                    }
                }
            }
        }
    }
    button.boost-pfs-filter-tree-mobile-button {
        display: flex;
        button {
            padding: 0;
            height: initial;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='13.3' viewBox='0 0 16 13.3'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_7076' data-name='Rectangle 7076' width='16' height='13.3' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_18399' data-name='Group 18399' opacity='0.4'%3E%3Cg id='Group_18335' data-name='Group 18335' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_11881' data-name='Path 11881' d='M0,2.65H16m-16,8H16' transform='translate(0 0)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3Cpath id='Path_11882' data-name='Path 11882' d='M5,.65a2,2,0,1,1-2,2,2,2,0,0,1,2-2' transform='translate(0 0)' fill='%23393939'/%3E%3Ccircle id='Ellipse_17' data-name='Ellipse 17' cx='2' cy='2' r='2' transform='translate(3 0.65)' fill='none' stroke='%23fff' stroke-width='1.3'/%3E%3Cpath id='Path_11883' data-name='Path 11883' d='M11,8.65a2,2,0,1,1-2,2,2,2,0,0,1,2-2' transform='translate(0 0)' fill='%23393939'/%3E%3Ccircle id='Ellipse_18' data-name='Ellipse 18' cx='2' cy='2' r='2' transform='translate(9 8.65)' fill='none' stroke='%23fff' stroke-width='1.3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                left: 40px;
                right: initial;
                width: 16px;
                height: 13px;
                top: 4px;
                margin: 0;
                background-size: cover;
            }
        }
    }
    .product-facet__filters {
        .boost-pfs-filter-overlay {
            display: none !important;
        }
        .boost-pfs-filter-tree-v {
            @media screen and (max-width: 767px) {
                position: initial !important;
                width: 100% !important;
                padding: 0;
                display: block !important;
                max-height: 100% !important;
                height: 100% !important;
                .boost-pfs-filter-options-wrapper {
                    width: 100% !important;
                    position: initial !important;
                    padding-bottom: 0 !important;
                    overflow-x: hidden;
                    overflow-y: auto;
                }
                .boost-pfs-filter-tree-content {
                    padding-bottom: 20px;
                }
            }
            .boost-pfs-filter-mobile-toolbar,
            .boost-pfs-filter-mobile-footer,
            .boost-pfs-filter-option-amount,
            .boost-pfs-filter-refine-by-wrapper,
            .boost-pfs-filter-clear,
            .boost-pfs-filter-selected-items-mobile {
                display: none !important;
            }
            .boost-pfs-filter-option-title {
                text-align: left;
            }
            .boost-pfs-filter-option {
                padding: 15px 0;
            }
            .boost-pfs-filter-option-title-heading {
                font-family: acumin-pro, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.3rem;
                line-height: 19px;
                color: #000;
                position: relative;
                padding: 0;
                letter-spacing: .5px;
                width: 100%;
                text-transform: unset;
                @media screen and (max-width: 767px) {
                    &:after {
                        content: none !important;
                    }
                }
            }
            .boost-pfs-filter-option-title-text:before {
                position: absolute;
                top: 50%;
                right: 10px;
                border: 0;
                width: 6px;
                height: 1px;
                background: #222;
                margin: 0;
                transform: translateY(-50%);
            }
            .boost-pfs-filter-option-swatch {
                .boost-pfs-filter-option-item {
                    &-list {
                        text-align: left;
                    }
                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }
                &-image {
                    width: 25px;
                    height: 25px;
                    border: 1px solid #EAEAEA;
                }
            }
            .boost-pfs-filter-option {
                &.boost-pfs-filter-option-collapsed {
                    .boost-pfs-filter-option-title-text:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 12px;
                        height: 6px;
                        width: 1px;
                        background: #222;
                        transform: translateY(-50%);
                    }
                }
                @media screen and (max-width: 767px) {
                    .boost-pfs-filter-option-title {
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            border: 0;
                            width: 6px;
                            height: 1px;
                            background: #222;
                            margin: 0;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            .boost-pfs-filter-option-content {
                ul {
                    margin-left: 0;
                    li {
                        margin: 0 0 10px;
                        padding: 0;
                        button {
                            font-family: acumin-pro, sans-serif;
                            font-weight: 400;
                            font-style: normal;
                            font-size: 1.3rem;
                            line-height: 19px;
                            color: #000;
                            letter-spacing: .5px;
                            padding-left: 19px;
                            outline: none;
                            .boost-pfs-check-box {
                                position: absolute;
                                top: 3px;
                                left: 0;
                                border: 1px solid #DDDDDD;
                                border-radius: 100%;
                                width: 14px;
                                height: 14px;
                                &::before {
                                    content: none !important;
                                }
                            }
                        }
                        &.selected {
                            .boost-pfs-check-box {
                                background: #333333;
                                border-color: #333;
                            }
                        }
                    }
                }
            }
            .boost-pfs-filter-option-gender,
            .boost-pfs-filter-option-categories {
                .boost-pfs-filter-option-item-list {
                    .boost-pfs-filter-option-item {
                        .boost-pfs-filter-button {
                            font-family: acumin-pro, sans-serif;
                            font-weight: 400;
                            font-style: normal;
                            font-size: 1.3rem;
                            line-height: 19px;
                            color: #000;
                            position: relative;
                            padding-left: 19px;
                            letter-spacing: .5px;
                            &::after {
                                content: "";
                                background: #fff;
                                border: 1px solid #DDDDDD;
                                border-radius: 100%;
                                width: 14px;
                                height: 14px;
                                position: absolute;
                                top: 4px;
                                left: 0;
                                z-index: 5;
                            }
                        }
                        &.selected {
                            .boost-pfs-filter-button::after {
                                background: #333333;
                                border-color: #333;
                            }
                        }
                    }
                }
            }
            .boost-pfs-filter-option-size {
                .boost-pfs-filter-option-item-list {
                    li {
                        min-width: auto!important;
                        max-width: initial!important;
                        width: auto !important;
                        margin: 0;
                        button {
                            width: auto !important;
                            min-width: 62px;
                            border: 1px solid #DDDDDD;
                            border-radius: 100px;
                            font-family: acumin-pro, sans-serif;
                            font-weight: 400;
                            font-style: normal;
                            font-size: 1.2rem;
                            line-height: 1.5;
                            color: #000;
                            padding: 3px 12px 5px;
                            margin: 4px 3px;
                            letter-spacing: .5px;
                        }
                    }
                }
            }
            .boost-pfs-filter-option-range-slider {
                .boost-pfs-filter-option-range-amount {
                    font-size: 1.3rem;
                    font-family: acumin-pro, sans-serif;
                    font-weight: 400;
                }
                .noUi-value {
                    font-size: 1.3rem;
                    font-family: acumin-pro, sans-serif;
                    font-weight: 400;
                }
            }
            .boost-pfs-filter-option:last-child {
                border-bottom: 1px solid #e3e3e3 !important;
            }
        }
    }
    .boost-pfs-filter-top-sorting {
        .boost-pfs-filter-top-sorting-wrapper {
            display: none;
        }
        .boost-pfs-filter-filter-dropdown {
            display: block !important;
            li {
                margin-bottom: 8px;
                a {
                    font-size: 1.4rem;
                    position: relative;
                    @media screen and (max-width: 767px) {
                        font-size: 1.3rem;
                    }
                    &.boost-pfs-filter-sort-item-active {
                        &::after {
                            content: "";
                            position: absolute;
                            width: 12px;
                            height: 9px;
                            top: calc(50% - 4.5px);
                            background-color: currentColor;
                            -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMy40TDQuNzQ5MzEgN0wxMSAxIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+);
                            mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMy40TDQuNzQ5MzEgN0wxMSAxIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+);
                            -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat;
                            -webkit-mask-size: 12px 9px;
                            mask-size: 12px 9px;
                            right: -17px;
                        }
                    }
                }
            }
        }
    }
    .product-facet {
        margin-bottom: 0;
    }
    .shopify-section--recently-viewed-products .section {
        margin-top: 50px;
    }
}

.template-search {
    .main-search__form {
        margin-bottom: 30px;
        .main-search__input {
            height: 50px;
            line-height: 50px;
            border-radius: 30px !important;
        }
    }
    .empty-state {
        h1 {
            margin-bottom: 30px !important;
        }
    }
    .page-header {
        padding: 30px 0;
        margin-bottom: 30px;
        background: #fff;
        border-bottom: 1px solid #e3e3e3;
        h1 {
            margin-bottom: 30px !important;
        }
        .boost-pfs-search-result-number {
            min-height: 28px;
        }
    }
    #mobile-facet-toolbar .mobile-toolbar__item {
        display: flex !important;
        &+.mobile-toolbar__item {
            display: flex !important;
        }
    }
}

.shopify-section--recently-viewed-products {
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    #mobile-menu-drawer .drawer__search .Search__Input {
        padding-right: 50px;
    }
}

body .predictive-search {
    display: flex !important;
}

.shopify-section--main-collection .product-facet__meta-bar {
    z-index: 9;
}

#search-drawer {
    .drawer__content {
        margin-top: 20px;
        text-align: left;
        padding-bottom: 60px;
        .boost-pfs-search-suggestion-wrapper {
            display: initial !important;
            position: initial !important;
            width: 100% !important;
            .boost-pfs-search-suggestion {
                display: block !important;
                position: initial !important;
                width: 100%!important;
                min-width: 100%!important;
                box-shadow: none;
            }
        }
        .boost-pfs-search-suggestion-no-result span {
            font-size: 1.3rem;
        }
    }
    .drawer__footer {
        button {
            width: 100%;
        }
    }
}

.boost-pfs-search-suggestion-popover {
    display: none !important;
}

.boost-pfs-search-suggestion-mobile-top-panel #boost-pfs-search-box-mobile {
    padding: 5px 50px 5px 18px !important;
    font-family: source-han-sans-cjk-ja, sans-serif;
    font-weight: 400;
}

.boost-pfs-search-suggestion-group {
    font-family: source-han-sans-cjk-ja, sans-serif;
    font-weight: 400;
    .boost-pfs-search-suggestion-right {
        display: flex !important;
        flex-wrap: wrap;
        p {
            width: 100%;
        }
    }
    .boost-pfs-search-suggestion-product-title {
        order: 2;
        font-size: 14px;
        letter-spacing: .7px;
        line-height: 20px;
        color: #000;
        font-family: acumin-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 3px;
    }
    .boost-pfs-search-suggestion-product-vendor {
        order: 1;
        font-size: 14px;
        letter-spacing: .42px;
        line-height: 20px;
        margin: 0 0 4px;
        color: #666;
        font-family: acumin-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-transform: capitalize;
    }
    .boost-pfs-search-suggestion-product-price {
        order: 3;
        font-size: 16px;
        letter-spacing: .48px;
        line-height: 22px;
        color: #000;
        font-family: acumin-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

.boost-pfs-search-suggestion-header {
    color: #222 !important;
}