html {
  overflow-x: hidden;
}

.Container {
  padding: 0 115px;
}

@media screen and (max-width: 999px) {
  .Container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1007px) {
  .no-scroll #shopify-section-footer {
    position: inherit;
  }
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 1139px) {
  .hidden-sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hidden-767-and-down {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .hidden-767-and-up {
    display: none !important;
  }
}

@media screen and (min-width: 1008px) {
  .hidden-lap-and-up {
    display: none;
  }
}

@media screen and (max-width: 1007px) {
  .hidden-lap-and-down {
    display: none;
  }
}

.Search-desk {
  position: unset;
  visibility: visible;
  opacity: 1;
  z-index: unset;
  -webkit-transform: unset;
          transform: unset;
  pointer-events: auto;
  width: unset;
  margin-right: 40px;
  background: transparent;
}

.Search__Inner {
  padding: 0;
}

.Search__InputIconWrapper {
  margin-right: 18.4px;
  margin-left: 28px;
}

@media screen and (max-width: 768px) {
  .Search__InputIconWrapper {
    margin-left: 0;
    margin-right: 18px;
  }
}

.Search__InputIconWrapper span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Search__Form {
  border-radius: 60px;
  background: #EFEFEF;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .Search__Form {
    height: 37px;
  }
}

.Search__Input {
  font-size: 1.2rem;
  color: rgba(17, 17, 17, 0.4) !important;
  padding-left: 27px;
  font-weight: 300;
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .Search__Input {
    padding-left: 23px;
    letter-spacing: 1.5px;
  }
}

.Search__Input::-webkit-input-placeholder, .Search__Input:-ms-input-placeholder, .Search__Input::-webkit-input-placeholder {
  color: rgba(17, 17, 17, 0.4);
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  letter-spacing: 1.5px;
}

.Search__Input::-webkit-input-placeholder, .Search__Input:-ms-input-placeholder, .Search__Input::placeholder {
  color: rgba(17, 17, 17, 0.4);
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  letter-spacing: 1.5px;
}

.Search-sp {
  position: unset;
  width: 100%;
  padding: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, height 1s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, height 1s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, height 1s ease-in-out;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, height 1s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.Search-sp .Search__Close {
  margin-right: 15px;
}

.Search[aria-hidden="false"] {
  padding: 15px 20px 14px;
  height: auto;
}

.Search__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 11px;
}

.Search__navigation--link {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.Search__navigation .is-active {
  position: relative;
}

.Search__navigation .is-active::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #222222;
}

.PageOverlay {
  z-index: 58;
}

#section-announcement {
  background: #fff !important;
  border-bottom: 1px solid #eaeaea;
}

#section-announcement .AnnouncementBar {
  z-index: 6;
}

#section-announcement .AnnouncementBar__Wrapper {
  padding-bottom: 9px;
}

@media screen and (max-width: 768px) {
  #section-announcement .AnnouncementBar__Wrapper {
    padding-bottom: 7px;
    padding-top: 10px;
  }
}

#section-announcement .AnnouncementBar__Content {
  font-family: 'Hiragino Sans Upr W3';
  color: #111;
}

#section-announcement .AnnouncementBar .Heading {
  font-family: 'Hiragino Sans Upr W3';
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  #section-announcement .AnnouncementBar .Heading {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

#section-announcement .AnnouncementBar .SelectButton {
  font-size: 1.2rem;
  color: #111;
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  padding-top: 6px;
}

#section-announcement .AnnouncementBar .SelectButton .select-arrow-down {
  position: absolute;
  right: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#section-announcement .AnnouncementBar__language-selector {
  position: absolute;
  right: 40.7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#section-announcement .AnnouncementBar .Popover {
  right: 0 !important;
}

#shopify-section-header {
  z-index: 51;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 1139px) {
  #shopify-section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
}

#shopify-section-header .Header__Wrapper {
  padding: 21px 40px 23px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  #shopify-section-header .Header__Wrapper {
    padding: 16px 20px 18px;
  }
}

#shopify-section-header .Header__FlexItem--nav {
  margin-bottom: 7px;
}

@media screen and (max-width: 768px) {
  #shopify-section-header .Header__FlexItem--nav {
    margin-bottom: 4px;
  }
}

#shopify-section-header .Header__FlexItem--account {
  margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
  #shopify-section-header .Header__FlexItem--account {
    margin-bottom: 6px;
  }
}

#shopify-section-header .Header__FlexItem--account .Header__Icon + .Header__Icon {
  margin-left: 32px;
}

@media screen and (max-width: 768px) {
  #shopify-section-header .Header__FlexItem--account .Header__Icon + .Header__Icon {
    margin-left: 21px;
    margin-right: 8px;
  }
}

#shopify-section-header .Header__MainNav .HorizontalList__Item {
  margin-left: 0;
  margin-right: 30px;
  margin-top: 8px;
}

#shopify-section-header .Header__MainNav .Heading {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #222;
}

#shopify-section-header .Header__LogoImage {
  max-width: 88.18px;
}

@media screen and (max-width: 768px) {
  #shopify-section-header .Header__LogoImage {
    max-width: 64.75px;
  }
}

#shopify-section-header .Header__Menu {
  margin-right: 61px;
}

@media screen and (max-width: 768px) {
  #shopify-section-header .Header__Menu {
    margin-right: 6px;
  }
}

#shopify-section-header .Header .MegaMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 59px;
}

#shopify-section-header .Header .MegaMenu__Inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin: 0;
  padding: 0;
  margin-left: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#shopify-section-header .Header .MegaMenu__PushImage {
  margin: 0;
  margin-right: 110px;
  width: 27.5% !important;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#shopify-section-header .Header .MegaMenu__Title {
  font-size: 1.3rem;
  color: #000;
  font-family: 'Hiragino Sans Upr W6';
  font-weight: 600;
  font-style: normal;
  margin-bottom: 7px;
}

#shopify-section-header .Header .MegaMenu .Link--secondary {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: 1px;
}

#shopify-section-header .Header .MegaMenu__Item--fit {
  -ms-flex-preferred-size: 19.5%;
      flex-basis: 19.5%;
  margin: -6px 0px 45px;
  padding-right: 30px;
  max-width: 200px;
  min-width: 150px;
}

#shopify-section-header .Header .MegaMenu__Item--fit .Linklist__Item {
  margin-bottom: 0;
}

#shopify-section-header .Header .MegaMenu__PushImageWrapper {
  max-width: unset !important;
  margin: 0;
}

#shopify-section-header .Header .MegaMenu__PushSubHeading {
  text-align: left;
  font-size: 1.3rem;
  color: #000;
  font-family: 'Hiragino Sans Upr W6';
  font-weight: 600;
  font-style: normal;
  margin-top: 13px;
  letter-spacing: 1.5px;
}

#shopify-section-header .Header__CartDot {
  width: 20.42px;
  height: 20.42px;
  background-color: #222222;
  text-align: center;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  line-height: 20.42px;
  font-size: 1.1rem;
  top: -7.5px;
  right: -11.5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#shopify-section-header.zindexMobile {
  z-index: 59 !important;
}

#sidebar-menu {
  background: #f8f8f8;
  z-index: 60;
  width: 375px;
}

@media screen and (max-width: 375px) {
  #sidebar-menu {
    width: 280px;
  }
}

#sidebar-menu .Collapsible {
  border-bottom-color: #eaeaea;
  padding: 0 20px;
}

#sidebar-menu .Collapsible__Plus {
  right: 2px;
  top: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#sidebar-menu .Collapsible__Plus::before, #sidebar-menu .Collapsible__Plus::after {
  background-color: #222222;
}

#sidebar-menu .Collapsible__Plus::before {
  width: 10px;
  height: 1.5px;
}

#sidebar-menu .Collapsible__Plus::after {
  width: 1.5px;
  height: 10px;
}

#sidebar-menu .Collapsible__Button {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #222;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}

#sidebar-menu .Collapsible__Inner .Linklist--bordered {
  border-left: unset;
  margin-left: 0px;
  padding-left: 30px;
  margin-top: 2px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Collapsible__Inner .Linklist--bordered {
    padding-left: 26px;
  }
}

#sidebar-menu .Collapsible__Inner .Collapsible__Inner .Text--subdued {
  color: rgba(34, 34, 34, 0.5);
  font-size: 1.1rem;
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  line-height: 2.2727;
  letter-spacing: 1.5px;
}

#sidebar-menu .Collapsible__Inner .Collapsible__Plus {
  right: 30px;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Collapsible__Inner .Collapsible__Plus {
    right: 25px;
    top: 65%;
  }
}

#sidebar-menu .Collapsible__Inner .Collapsible__Plus::before, #sidebar-menu .Collapsible__Inner .Collapsible__Plus::after {
  background-color: rgba(34, 34, 34, 0.5);
}

#sidebar-menu .Collapsible__Inner .Collapsible__Button {
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  padding: 18px 30px 17px 30px !important;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Collapsible__Inner .Collapsible__Button {
    font-size: 1.2rem;
    line-height: 1.5;
    padding-left: 25px !important;
  }
}

#sidebar-menu .Collapsible__Inner .Collapsible__Button[aria-expanded="true"] {
  padding-top: 26px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Collapsible__Inner .Collapsible__Button[aria-expanded="true"] {
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Collapsible__Inner .Collapsible__Button[aria-expanded="false"] {
    padding: 24px 25px 20px !important;
    max-height: 61px;
  }
}

#sidebar-menu .Collapsible__Inner .Collapsible__Button[aria-expanded="false"] .Collapsible__Plus {
  right: 30px;
  top: 51%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Collapsible__Inner .Collapsible__Button[aria-expanded="false"] .Collapsible__Plus {
    right: 25px;
  }
}

#sidebar-menu .Collapsible__Inner .Collapsible__Button[aria-expanded="true"] + .Collapsible__Inner .Collapsible__Content {
  padding-bottom: 22px;
}

#sidebar-menu .Collapsible__Content {
  padding-bottom: 0;
}

#sidebar-menu .Collapsible .Collapsible {
  margin-right: 30px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  margin-bottom: 1.8px;
  background-color: #fff;
}

#sidebar-menu .Collapsible .Collapsible__Button {
  padding: 13px 0 11px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Collapsible .Collapsible__Button {
    padding: 23px 0;
  }
}

#sidebar-menu .Collapsible .Collapsible .Linklist--bordered {
  margin-bottom: 0;
}

#sidebar-menu .Collapsible .Collapsible__Content {
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Collapsible .Collapsible__Content {
    padding-bottom: 39px;
  }
}

#sidebar-menu .Collapsible .Collapsible__Content .Linklist__Item {
  margin-bottom: 0px;
}

#sidebar-menu .Drawer__Header {
  height: 64px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Drawer__Header {
    height: 64px;
    max-height: 64px;
  }
}

#sidebar-menu .Drawer__Close {
  left: 20px;
}

#sidebar-menu .Drawer__Main {
  padding-top: 0;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#sidebar-menu .Drawer__Main::after {
  height: 7px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Drawer__Main::after {
    height: 35px;
  }
}

#sidebar-menu .Drawer__Main::-webkit-scrollbar {
  display: none;
}

#sidebar-menu .Drawer__Content {
  height: calc(100% - 64px);
  max-height: calc(100% - 64px);
}

#sidebar-menu .Drawer__Content::before {
  background: unset;
  display: none;
}

#sidebar-menu .Drawer__Container {
  min-width: 340px;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Drawer__Container {
    min-width: 280px;
  }
}

#sidebar-menu .Drawer__Footer {
  background: #f8f8f8;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top: 1px solid #eaeaea;
}

#sidebar-menu .Drawer__Footer .SidebarMenu__Social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (34px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 34px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 0 21px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Drawer__Footer .SidebarMenu__Social {
    padding: 21px 0 16px;
  }
}

#sidebar-menu .Drawer__Footer .HorizontalList__Item {
  margin-left: 13.5px;
  margin-right: 13.5px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .Drawer__Footer .HorizontalList__Item {
    margin-left: 12px;
    margin-right: 12px;
  }
}

#sidebar-menu .Drawer__Footer .Icon-Tiktok {
  margin-top: -11px;
}

#sidebar-menu .Drawer__Footer::before {
  display: none;
}

#sidebar-menu .SidebarMenu__Link {
  background: #EFEFEF;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .SidebarMenu__Link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#sidebar-menu .SidebarMenu__Button {
  z-index: 1;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  border-radius: 100px;
  width: calc(50% - 4px);
  font-family: 'Hiragino Sans Upr W6';
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.5px;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  -webkit-transition: color 0.3s ease-in-out, border 0.45s ease-in-out;
  transition: color 0.3s ease-in-out, border 0.45s ease-in-out;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .SidebarMenu__Button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #sidebar-menu .SidebarMenu__Button:nth-child(2n+1) {
    width: 100%;
    margin-bottom: 13px;
  }
}

#sidebar-menu .SidebarMenu__Button::before {
  -webkit-transition: color 0.3s ease-in-out, border 0.45s ease-in-out, -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.3s ease-in-out, border 0.45s ease-in-out, -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), color 0.3s ease-in-out, border 0.45s ease-in-out;
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), color 0.3s ease-in-out, border 0.45s ease-in-out, -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#sidebar-menu .SidebarMenu__Wishlist {
  color: #222222;
}

#sidebar-menu .SidebarMenu__Wishlist::before {
  left: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fff;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

#sidebar-menu .SidebarMenu__Wishlist:hover {
  color: #fff;
  background-color: #0033A0;
}

#sidebar-menu .SidebarMenu__Wishlist:hover::before {
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

#sidebar-menu .SidebarMenu__Account {
  color: #fff;
}

#sidebar-menu .SidebarMenu__Account::before {
  left: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0033A0;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

#sidebar-menu .SidebarMenu__Account:hover {
  color: #222;
  background-color: #fff;
}

#sidebar-menu .SidebarMenu__Account:hover::before {
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

#sidebar-menu .SidebarMenu__Nav--primary .Collapsible:last-child {
  border-bottom: none;
}

#sidebar-menu .SidebarMenu__Nav--secondary {
  margin-top: 0;
}

#sidebar-menu .SidebarMenu__Nav--secondary .Linklist {
  padding: 0;
  border-bottom: 1px solid #eaeaea;
}

#sidebar-menu .SidebarMenu__Nav--secondary .Linklist__Item--Icon {
  position: absolute;
  right: 20px;
}

#sidebar-menu .SidebarMenu__Nav--secondary .Linklist__Item {
  margin-bottom: 0;
  border-top: 1px solid #EAEAEA;
  padding: 0 20px;
}

#sidebar-menu .SidebarMenu__Nav--secondary .Link--primary {
  font-size: 1.2rem;
  font-weight: 300;
  color: #222;
  height: 49px;
  line-height: 49px;
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .SidebarMenu__Nav--secondary .Link--primary {
    height: 71px;
    line-height: 71px;
  }
}

#sidebar-menu .SidebarMenu__Nav--third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
  margin-left: -46px;
  padding-top: 36px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .SidebarMenu__Nav--third {
    padding-top: 32px;
  }
}

#sidebar-menu .SidebarMenu__Nav--third .Third-menu__block {
  margin-left: 46px;
  margin-bottom: 25px;
}

#sidebar-menu .SidebarMenu__Nav--third .Third-menu__title {
  font-size: 1.3rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #222;
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .SidebarMenu__Nav--third .Third-menu__title {
    margin-bottom: 8px;
  }
}

#sidebar-menu .SidebarMenu__Nav--third .Third-menu__list {
  list-style: none;
}

#sidebar-menu .SidebarMenu__Nav--third .Third-menu__item {
  line-height: 2.0833;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .SidebarMenu__Nav--third .Third-menu__item {
    line-height: 2.1667;
  }
}

#sidebar-menu .SidebarMenu__Nav--third .Third-menu__sub-title {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  line-height: 2.0833;
}

@media screen and (max-width: 768px) {
  #sidebar-menu .SidebarMenu__Nav--third .Third-menu__sub-title {
    line-height: 2.1667;
  }
}

#sidebar-menu .SidebarMenu__localization {
  position: relative;
  padding: 6px 5px;
}

#sidebar-menu .SidebarMenu__localization .HorizontalList {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sidebar-menu .SidebarMenu__localization .HorizontalList__Item {
  margin-right: -8px;
}

#sidebar-menu .SidebarMenu__localization .Popover {
  position: absolute;
  -webkit-transform: unset;
          transform: unset;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  bottom: 50px;
  left: 0;
}

@media screen and (min-width: 1008px) and (max-width: 1139px) {
  #sidebar-menu .SidebarMenu__localization .Popover {
    top: unset !important;
    right: unset !important;
  }
}

#sidebar-menu .SidebarMenu__localization .Popover[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
  top: unset !important;
  right: unset !important;
}

@media screen and (min-width: 1008px) and (max-width: 1139px) {
  #sidebar-menu .SidebarMenu__localization .Popover__Header {
    display: block;
  }
}

#sidebar-menu .SidebarMenu__localization .SelectButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  color: #222;
  letter-spacing: 1.5px;
  white-space: nowrap;
}

#sidebar-menu .SidebarMenu__localization .SelectButton svg {
  position: unset;
  height: unset;
}

#sidebar-menu .SidebarMenu__localization .SelectButton img {
  margin-left: 7px;
  margin-top: 2px;
}

#section-footer {
  background: #EFEFEF;
  padding-top: 52px;
}

@media screen and (max-width: 767px) {
  #section-footer {
    padding-bottom: 98px;
  }
}

#section-footer .Container {
  padding-left: 115px;
  padding-right: 115px;
}

@media screen and (max-width: 999px) {
  #section-footer .Container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#section-footer .Footer__Inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  #section-footer .Footer__Inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#section-footer .Footer__Inner + .Footer__Aside {
  margin-top: 38px;
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Inner + .Footer__Aside {
    margin-top: 40px;
  }
}

#section-footer .Footer__Menu {
  margin-left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Menu {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#section-footer .Footer__Menu .Collapsible {
  margin-left: 0 !important;
  border-color: #DEDEDE;
}

#section-footer .Footer__Menu .Collapsible__Button {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.357;
  color: #222;
  padding: 28px 0;
  letter-spacing: 0.5px;
}

#section-footer .Footer__Menu .Collapsible__Plus {
  right: 10px;
  top: calc(50% - (13px / 2));
}

#section-footer .Footer__Menu .Collapsible__Plus::before, #section-footer .Footer__Menu .Collapsible__Plus::after {
  background-color: #222;
}

#section-footer .Footer__Menu .Collapsible__Plus::before {
  width: 12px;
  height: 1.5px;
}

#section-footer .Footer__Menu .Collapsible__Plus::after {
  width: 1.5px;
  height: 12px;
}

#section-footer .Footer__Menu .Collapsible__Inner .Collapsible__Button {
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  color: rgba(34, 34, 34, 0.5);
  line-height: 2.1667;
  padding: 0;
  letter-spacing: 1.5px;
}

#section-footer .Footer__Menu .Collapsible__Inner .Collapsible__Content {
  margin-top: -14px;
  padding-bottom: 21px;
}

#section-footer .Footer__Menu__block {
  margin-left: 50px;
}

#section-footer .Footer__Menu__title {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  color: #222;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

#section-footer .Footer__Menu__sub-title {
  font-size: 1.1rem;
  color: rgba(34, 34, 34, 0.5);
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  line-height: 2;
  letter-spacing: 1.5px;
}

#section-footer .Footer__Menu__list {
  list-style: none;
}

#section-footer .Footer__Menu__item {
  font-size: 1.1rem;
  line-height: 2;
}

#section-footer .Footer__Newsletter {
  padding: 5px 4px 0px 13px;
  background: #fff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Newsletter {
    margin-top: 12px;
  }
}

#section-footer .Footer__Newsletter .Form__Input::-webkit-input-placeholder,
#section-footer .Footer__Newsletter .Form__Input:-ms-input-placeholder,
#section-footer .Footer__Newsletter .Form__Input::-webkit-input-placeholder,
#section-footer .Footer__Newsletter .Form__Input {
  color: rgba(34, 34, 34, 0.5);
  font-size: 1.1rem;
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
}

#section-footer .Footer__Newsletter .Form__Input::-webkit-input-placeholder,
#section-footer .Footer__Newsletter .Form__Input:-ms-input-placeholder,
#section-footer .Footer__Newsletter .Form__Input::placeholder,
#section-footer .Footer__Newsletter .Form__Input {
  color: rgba(34, 34, 34, 0.5);
  font-size: 1.1rem;
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
}

#section-footer .Footer__Newsletter .Form__Input {
  font-size: 1.1rem;
  border: unset;
  padding: 10px 14px 14px;
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Newsletter .Form__Input {
    padding: 10px 8px 14px;
    font-size: 1.2rem;
  }
}

#section-footer .Footer__Newsletter .Form__Submit {
  margin-top: -5px;
  font-size: 1.1rem;
  text-align: center;
  height: 35px;
  line-height: 34px;
  border-radius: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 27.8px;
  border-color: #0033A0;
  font-family: 'Hiragino Sans Upr W6';
  font-weight: 600;
  font-style: normal;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Newsletter .Form__Submit {
    font-size: 1rem;
    padding: 0 25px;
  }
}

#section-footer .Footer__Newsletter .Form__Submit:hover {
  color: #222;
}

#section-footer .Footer__Newsletter .Form__Submit::before {
  background: #0033A0;
}

#section-footer .Footer__Block {
  padding: 0;
  margin-bottom: 0;
}

#section-footer .Footer__Block--newsletter {
  -ms-flex-preferred-size: 405px;
      flex-basis: 405px;
}

@media screen and (max-width: 999px) {
  #section-footer .Footer__Block--newsletter {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    margin-top: 1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #section-footer .Footer__Block--newsletter {
    margin-bottom: 20px;
  }
}

#section-footer .Footer__Block--newsletter .Footer__Title {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  color: #222;
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Block--newsletter .Footer__Title {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}

#section-footer .Footer__Block--newsletter p {
  font-size: 1.1rem;
  color: rgba(34, 34, 34, 0.5);
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Block--newsletter p {
    font-size: 1.2rem;
    line-height: 1.8333;
  }
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Block--links {
    margin-top: 44px;
  }
}

#section-footer .Footer__Aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  #section-footer .Footer__Aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#section-footer .Footer__Aside .Footer__Social,
#section-footer .Footer__Aside .Footer__PaymentList,
#section-footer .Footer__Aside .Footer__Localization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

@media screen and (max-width: 1280px) {
  #section-footer .Footer__Aside .Footer__Social,
  #section-footer .Footer__Aside .Footer__PaymentList,
  #section-footer .Footer__Aside .Footer__Localization {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

#section-footer .Footer__Aside .Footer__Social {
  margin-top: 0;
  margin-left: -15px;
  margin-bottom: 2px;
}

@media screen and (max-width: 1280px) {
  #section-footer .Footer__Aside .Footer__Social {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Aside .Footer__Social {
    margin-left: -12px;
  }
}

#section-footer .Footer__Aside .Footer__Social li {
  margin: 0;
  margin-left: 14px;
}

@media screen and (max-width: 1280px) {
  #section-footer .Footer__Aside .Footer__Social li {
    margin: 0 11px;
  }
}

#section-footer .Footer__Aside .Footer__Social .Icon-Tiktok {
  margin-bottom: 10px;
}

#section-footer .Footer__Aside .Footer__Localization {
  margin-bottom: 11px;
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Aside .Footer__Localization {
    margin-top: 25px;
  }
}

#section-footer .Footer__Aside .Footer__Localization form {
  margin-bottom: 0;
}

#section-footer .Footer__Aside .Footer__PaymentList {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin-left: 53px;
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Aside .Footer__PaymentList {
    margin-top: 0;
    padding: 26px 0px 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -10px !important;
  }
}

#section-footer .Footer__Aside .Footer__PaymentList li {
  margin: 6px 10px 6px 0 !important;
}

@media screen and (max-width: 1280px) {
  #section-footer .Footer__Aside .Footer__PaymentList li {
    margin: 6px !important;
  }
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Aside .Footer__PaymentList li {
    margin: 0px 0px 0px 10px !important;
  }
}

#section-footer .Footer__Copyright {
  width: 100%;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
  color: rgba(34, 34, 34, 0.5);
  margin-top: 24px;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 1007px) {
  #section-footer .Footer__Copyright {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__Copyright {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 8px;
  }
}

@media screen and (max-width: 768px) {
  #section-footer .Footer__LocalizationItem {
    margin-left: 12px;
    margin-right: 12px;
  }
}

#section-footer .Footer__LocalizationItem .icon__jp {
  position: unset;
  top: unset;
  right: unset;
  height: unset;
}

#section-footer .Footer__LocalizationItem .SelectButton {
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  color: #222;
  padding-right: 10px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

#section-footer .Footer__LocalizationItem .SelectButton img {
  margin-left: 10px;
}

#section-footer .Footer__LocalizationItem:nth-child(2n) {
  margin-left: 21px;
}

@media screen and (max-width: 767px) {
  #section-footer .Footer__LocalizationItem:nth-child(2n) {
    margin-left: 0;
  }
}

#section-footer .Popover {
  z-index: 59;
}

div.snize-ac-results.snize-ac-results-mobile > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
}

div.snize-ac-results.snize-ac-results-mobile > ul li.snize-page,
div.snize-ac-results.snize-ac-results-mobile > ul li.snize-label,
div.snize-ac-results.snize-ac-results-mobile > ul li.snize-suggestion,
div.snize-ac-results.snize-ac-results-mobile > ul li.snize-category,
div.snize-ac-results.snize-ac-results-mobile > ul li.snize-product {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-left: none;
  border-right: none;
}

div.snize-ac-results.snize-ac-results-mobile > ul li.snize-page {
  border-color: #EAEAEA;
}

div.snize-ac-results.snize-ac-results-mobile > ul li.snize-page .snize-page-img {
  display: none;
}

div.snize-ac-results.snize-ac-results-mobile > ul li.snize-page a.snize-view-link {
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 21px;
  color: #111111;
}

div.snize-ac-results.snize-ac-results-mobile > ul li.snize-label {
  font-family: 'Hiragino Sans Upr W6';
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
  color: #111111;
}

div.snize-ac-results.snize-ac-results-mobile > ul li.snize-suggestion,
div.snize-ac-results.snize-ac-results-mobile > ul li.snize-category {
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 21px;
  color: #111111;
  width: 100%;
}

div.snize-ac-results.snize-ac-results-mobile > ul li.snize-product {
  width: 50%;
}

.c-breadcrumbs {
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 3;
}

@media screen and (max-width: 768px) {
  .c-breadcrumbs {
    font-size: 1rem;
    line-height: 33px;
  }
}

.c-breadcrumbs.hidden-lap-and-up {
  white-space: nowrap;
}

.c-breadcrumbs-box {
  padding: 10px 115px;
}

@media screen and (max-width: 768px) {
  .c-breadcrumbs-box {
    padding: 0 20px;
  }
}

.c-breadcrumbs-arrow {
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .c-breadcrumbs-arrow {
    margin-left: 8px;
    margin-right: 5px;
  }
}

.c-breadcrumbs .breadcrumb a:last-child,
.c-breadcrumbs .breadcrumb span:last-child {
  color: #111111;
}

.c-breadcrumbs .breadcrumb span:last-child {
  letter-spacing: 1px;
}

.c-breadcrumbs .breadcrumb a:not(:last-child),
.c-breadcrumbs .breadcrumb span:not(:last-child) {
  color: rgba(17, 17, 17, 0.4);
}

.Pagination {
  margin: 113px 0 0;
}

@media screen and (max-width: 768px) {
  .Pagination {
    margin-top: 65px;
  }
}

.Pagination__Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .Pagination__Nav {
    display: inline-block;
  }
}

.Pagination__NavItem {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #E3E3E3;
  color: #222222;
  text-align: center;
  line-height: 45px;
  padding: 0;
  margin-left: 4px;
  margin-right: 4px;
}

@media screen and (max-width: 768px) {
  .Pagination__NavItem {
    width: 34px;
    height: 34px;
    font-size: 1.1rem;
    line-height: 33px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.Pagination__NavItem[rel="prev"] {
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  .Pagination__NavItem[rel="prev"] {
    margin-right: 12px;
    margin-left: 0;
  }
}

.Pagination__NavItem[rel="next"] {
  margin-left: 16px;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .Pagination__NavItem[rel="next"] {
    margin-left: 12px;
    margin-right: 0;
  }
}

.Pagination__NavItem[rel="prev"], .Pagination__NavItem[rel="next"] {
  background-color: #0033A0;
  border: none;
}

.Pagination__NavItem[rel="prev"] svg, .Pagination__NavItem[rel="next"] svg {
  color: #fff;
  fill: #fff;
}

.Pagination__NavItem.is-active {
  border: none;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.4);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Pagination span.Pagination__NavItem:not(.is-active) {
  border: none;
  background-color: transparent;
  margin-left: 6px;
  margin-right: 5px;
  width: unset;
  line-height: 37px;
}

.ProductItem {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 2px #0000001a;
          box-shadow: 0 2px 2px #0000001a;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .ProductItem {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  }
}

.ProductItem__ColorSwatchList {
  line-height: 0;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

.ProductItem__ColorSwatchItem {
  height: 12px;
  margin: 0;
}

.ProductItem__ColorSwatchItem:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .ProductItem__ColorSwatchItem:not(:last-child) {
    margin-right: 5px;
  }
}

.ProductItem__ColorSwatchItem .ColorSwatch--small {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .ProductItem__ColorSwatchItem .ColorSwatch--small {
    width: 9px;
    height: 9px;
  }
}

.ProductItem__ColorSwatchItem .ColorSwatch::before, .ProductItem__ColorSwatchItem .ColorSwatch::after {
  content: none;
}

.ProductItem__Label {
  margin: 0;
  background-color: #e53b3b;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  line-height: 18px;
  color: #fff;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 48px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .ProductItem__Label {
    min-width: 38px;
    line-height: 15px;
    font-size: 0.9rem;
    letter-spacing: 0.36px;
  }
}

.ProductItem__Label:not(:last-child) {
  margin-right: 5px;
}

.ProductItem__Label--soldOut, .ProductItem__Label--onSale {
  min-width: 53px;
}

.ProductItem__Label--soldOut {
  background-color: #DADADA;
  color: rgba(34, 34, 34, 0.5);
}

.ProductItem__Label--onSale {
  background-color: rgba(229, 59, 59, 0.16);
  color: #E53B3B;
}

.ProductItem__LabelList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 17px;
}

@media screen and (max-width: 768px) {
  .ProductItem__LabelList {
    margin-bottom: 10px;
  }
}

.ProductItem__Vendor {
  font-size: 1.3rem;
  letter-spacing: 0.585px;
  line-height: 1.5;
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  color: #111;
  opacity: .5;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .ProductItem__Vendor {
    font-size: 1.1rem;
    letter-spacing: 0.495px;
    line-height: 13px;
    margin-bottom: 6px;
  }
}

.ProductItem__Title {
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 20px;
  font-family: 'Hiragino Sans Upr W3';
  font-weight: 300;
  font-style: normal;
  color: #111;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  .ProductItem__Title {
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 16px;
    margin-bottom: 3px;
  }
}

.ProductItem__Price .money {
  font-size: 1.7rem;
  letter-spacing: 1.2px;
  line-height: 1.5;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #222;
}

@media screen and (max-width: 768px) {
  .ProductItem__Price .money {
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 15px;
  }
}

.ProductItem__Info {
  margin: 0;
  padding: 20px 21px 16px 21px;
}

@media screen and (max-width: 768px) {
  .ProductItem__Info {
    padding: 15px 15px 10px;
  }
}

.shopify-section--recently-viewed-products,
.shopify-section--recommendations-products {
  border-color: rgba(113, 113, 113, 0.2) !important;
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .Container,
  .shopify-section--recommendations-products .Container {
    padding: 0 20px;
  }
}

.shopify-section--recently-viewed-products .SectionHeader,
.shopify-section--recommendations-products .SectionHeader {
  text-align: left;
  margin-bottom: 30px;
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .SectionHeader,
  .shopify-section--recommendations-products .SectionHeader {
    margin-bottom: 17px;
  }
}

.shopify-section--recently-viewed-products .SectionHeader__Heading,
.shopify-section--recommendations-products .SectionHeader__Heading {
  font-family: 'Hiragino Sans Upr W6';
  font-size: 24px;
  line-height: 33px;
  color: #111111;
  margin: 0;
  letter-spacing: 2px;
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .SectionHeader__Heading,
  .shopify-section--recommendations-products .SectionHeader__Heading {
    font-size: 18px;
    letter-spacing: 1.5px;
  }
}

.shopify-section--recently-viewed-products .ProductList--carousel,
.shopify-section--recommendations-products .ProductList--carousel {
  margin: 0;
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .ProductList--carousel,
  .shopify-section--recommendations-products .ProductList--carousel {
    white-space: unset;
    overflow: visible;
    padding: 0;
    margin: 0 -5.5px;
    padding-bottom: 1px;
  }
}

.shopify-section--recently-viewed-products .ProductList--carousel .Carousel__Cell,
.shopify-section--recommendations-products .ProductList--carousel .Carousel__Cell {
  padding: 0;
  padding-left: 17px;
  width: 20%;
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .ProductList--carousel .Carousel__Cell,
  .shopify-section--recommendations-products .ProductList--carousel .Carousel__Cell {
    width: 50%;
    padding: 0 5.5px;
    display: block !important;
  }
}

.shopify-section--recently-viewed-products .ProductList--carousel .flickity-slider,
.shopify-section--recommendations-products .ProductList--carousel .flickity-slider {
  margin-left: -17px;
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .ProductList--carousel .flickity-slider,
  .shopify-section--recommendations-products .ProductList--carousel .flickity-slider {
    margin-left: 0;
  }
}

.shopify-section--recently-viewed-products .ProductList--carousel .flickity-viewport,
.shopify-section--recommendations-products .ProductList--carousel .flickity-viewport {
  overflow: visible;
}

.shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button,
.shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button {
  width: 67px;
  height: 67px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #0000004d;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button,
  .shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button {
    width: 32px;
    height: 58px;
    margin-top: 15px;
  }
}

.shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button:before,
.shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button:before {
  position: absolute;
  content: "";
  background: url(https://cdn.shopify.com/s/files/1/0066/0360/4086/files/arrow-view-more-white.png?v=1644553056) no-repeat center;
  background-size: contain;
  width: 9px;
  height: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button:before,
  .shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button:before {
    width: 7px;
    height: 11px;
    top: 50%;
    left: 65%;
  }
}

.shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button svg,
.shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button svg {
  display: none;
}

.shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button.previous,
.shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button.previous {
  left: -33.5px;
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button.previous,
  .shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button.previous {
    left: -15px;
    top: 50%;
    border-radius: 0 60px 60px 0;
  }
}

.shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button.previous:before,
.shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button.previous:before {
  -webkit-transform: translate(-50%, -50%) scaleX(-1);
          transform: translate(-50%, -50%) scaleX(-1);
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button.previous:before,
  .shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button.previous:before {
    left: 40%;
  }
}

.shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button.next,
.shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button.next {
  right: -33.5px;
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .ProductList--carousel .flickity-prev-next-button.next,
  .shopify-section--recommendations-products .ProductList--carousel .flickity-prev-next-button.next {
    right: -14px;
    top: 50%;
    border-radius: 60px 0 0 60px;
  }
}

.shopify-section--recently-viewed-products .ProductList:after,
.shopify-section--recommendations-products .ProductList:after {
  content: "flickity";
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.shopify-section--recently-viewed-products .Section,
.shopify-section--recommendations-products .Section {
  padding-top: 66px;
  padding-bottom: 91px;
}

@media screen and (max-width: 1007px) {
  .shopify-section--recently-viewed-products .Section,
  .shopify-section--recommendations-products .Section {
    padding-top: 53px;
    padding-bottom: 48px;
  }
}

.shopify-section--c-featured-collection .SectionHeader__Heading.SectionHeader__Heading,
.shopify-section--c-featured-collection .SectionHeader__SubHeading.SectionHeader__SubHeading {
  margin-top: 0;
}

.ProductList--carousel {
  padding-bottom: calc(20% + 208px) !important;
}

@media screen and (max-width: 999px) {
  .ProductList--carousel {
    padding-bottom: calc(50% + 170px) !important;
  }
}

@media screen and (max-width: 767px) {
  .ProductList--carousel {
    padding-bottom: calc(50% + 133px) !important;
  }
}

.ProductList--carousel .flickity-viewport {
  position: absolute;
  width: 100%;
  height: 100% !important;
}

.shopify-section--shopthelook .ShopTheLook__ViewButton {
  margin-top: 10px !important;
}

.snize-ac-results {
  display: none !important;
}
/*# sourceMappingURL=custom-common.css.map */